<app-header></app-header>
<br>
<br><br>
    <h4 style="text-indent: 4em;">Welcome to employee portal</h4>
    <br>
    <p class="indented" style="text-align: justify;">
      An employee management system is a software, that helps your employees to give their best efforts every day to achieve the goals of your organization. It guides and manages employees efforts in the right direction. It also securely stores and manages personal and other work-related details for your employees. That makes it easier to store and access the data when there is a need.
      In the employee management system, you can manage admin activities in an easier and quicker way. Employees are an important part of your organization it is their work that ultimately contributes to the bottom line of the company. It is an important part of HR management. It also helps to employee engagement and employee retention brings down costs and increases productivity.
      Our employee management system offers an intelligent module to keep you organized. With the software, you can get all the data of your employees at your fingertips.
      With employee management software, you can utilize the standard metrics for employee management. You can also customize or create your own metrics for the needs of the staff management in your company with ease. The pocket HRMS has a very easy to handle user interface and is seamless to help you with the performance management of the employees.
      The software gives you to have an upper view of the entire staff management. The employee management system, also there to help you with the tools such as an analytically driven metric system. With the timesheet management and time tracking software, it is all in one resource and the right employee management system for meaningful data and smart decision making for your business.
    </p>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/assets/EMS.jpg" alt="EMS">
  
                    <div class="card-body">
                        <h5 class="card-title">Employee Management</h5>
                        <p class="card-text" style="text-align: justify;">
                             An employee management system is a software, that helps your employees to give their best efforts every day to achieve the goals of your organization. It guides and manages employees efforts in the right direction. It also securely stores and manages personal and other work-related details for your employees.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/assets/SMS.jpg" alt="SMS">
  
                    <div class="card-body">
                        <h5 class="card-title">Salary Management</h5>
                        <p class="card-text" style="text-align: justify;">
                          An employee management system is a software, that helps your employees to give their best efforts every day to achieve the goals of your organization. It guides and manages employees efforts in the right direction. It also securely stores and manages personal and other work-related details for your employees.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/assets/LMS.jpg" alt="LMS">
                    <div class="card-body">
                        <h5 class="card-title">Leave Management</h5>
                        <p class="card-text" style="text-align: justify;">
                          An employee management system is a software, that helps your employees to give their best efforts every day to achieve the goals of your organization. It guides and manages employees efforts in the right direction. It also securely stores and manages personal and other work-related details for your employees.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<app-footer></app-footer>