<br><br>
<h1><span>E</span>mployee <span>M</span>anagement <span>S</span>ystem</h1>
<div class="adjust">
    <button type="button" (click)="list()" class="btn btn-primary">Employee List</button>
</div>
<hr style="height:5px;border-width:0;color:lightseagreen;background-color:lightseagreen">
<br>
<h3 style="padding-left: 100px;">Basic Details</h3>
<br>
<div *ngIf="employee">

    <div class="col">
        <div class="col">
            <label for="empId">Employee Id</label>
        </div>
        <div class="col">
            <input type="number" readonly placeholder="{{employee.empId}}">
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="firstName">First Name</label>
        </div>
        <div class="col">
            <input type="text" readonly placeholder="{{employee.firstName}}">
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="lastName">Last Name</label>
        </div>
        <div class="col">
            <input type="text" readonly placeholder="{{employee.lastName}}">
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="dob">Date Of Birth</label>
        </div>
        <div class="col">
            <input type="text" readonly placeholder="{{employee.dateOfBirth}}"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="gender">Gender</label>
        </div>
        <div class="col">
            <input type="text" readonly placeholder="{{employee.gender}}"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="email">Email</label>
        </div>
        <div class="col">
            <input type="email" readonly placeholder="{{employee.email}}"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="phoneno">Phone Number</label>
        </div>
        <div class="col">
            <input type="number" readonly placeholder="{{employee.phoneNumber}}"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="doj">Date Of Joining</label>
        </div>
        <div class="col">
            <input type="text" readonly placeholder="{{employee.dateOfJoining}}"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="designation">Designation</label>
        </div>
        <div class="col">
            <input type="text" readonly placeholder="{{employee.designation}}"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="salary">Salary</label>
        </div>
        <div class="col">
            <input type="number" readonly placeholder="{{employee.salary}}"><br>
        </div>
    </div>
</div>
<br><br>