<br><br>
<h1><span>E</span>mployee <span>M</span>anagement <span>S</span>ystem</h1>
<div class="adjust">
  <button type="button" (click)="logout()" class="btn btn-primary">Logout</button>
</div><br>
<hr style="height:5px;border-width:0;color:lightseagreen;background-color:lightseagreen">

<br>
<h3 style="padding-left: 100px;">Employee List</h3><br>
<div class="adjust2">
  <button type="button" (click)="add()" class="btn btn-primary">Add Employee</button>
</div>

<br><br>
<div class="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employee">
        <td>{{emp.empId}}</td>
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.email}}</td>
        <td>
          <div>
            <button type="button" class="btn btn-primary" (click)="update(emp.empId)">Update</button>
            <div class="space"></div>
            <button type="button" class="btn btn-primary" (click)="details(emp.empId)">Details</button>
            <div class="space"></div>
            <button type="button" class="btn btn-danger" (click)="delete(emp.empId)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>