<br><br>
<h1><span>E</span>mployee <span>M</span>anagement <span>S</span>ystem</h1>
<br>
<hr style="height:5px;border-width:0;color:lightseagreen;background-color:lightseagreen">
<br>
<h3 style="padding-left: 100px;">Basic Details</h3>
<br>
<form #empform="ngForm" (ngSubmit)="onSubmit(empform.value)">

    <div class="col">
        <div class="col">
            <label for="name">First Name</label>
        </div>
        <div class="col">
            <input type="text" required [(ngModel)]="employee.firstName" name="firstName"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="name">Last Name</label>
        </div>
        <div class="col">
            <input type="text" required [(ngModel)]="employee.lastName" name="lastName"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="dob">Date Of Birth</label>
        </div>
        <div class="col">
            <input type="date" required [(ngModel)]="employee.dateOfBirth" name="dateOfBirth"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="gender">Gender</label>
        </div>
        <div class="col">
            <input type="text" required [(ngModel)]="employee.gender" name="gender"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="email">Email</label>
        </div>
        <div class="col">
            <input type="email" required [(ngModel)]="employee.email" name="email"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="phoneno">Phone Number</label>
        </div>
        <div class="col">
            <input type="number" required [(ngModel)]="employee.phoneNumber" name="phoneNumber"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="doj">Date Of Joining</label>
        </div>
        <div class="col">
            <input type="date" required [(ngModel)]="employee.dateOfJoining" name="dateOfJoining"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="designation">Designation</label>
        </div>
        <div class="col">
            <input type="text" required [(ngModel)]="employee.designation" name="designation"><br>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <label for="salary">Salary</label>
        </div>
        <div class="col">
            <input type="number" required [(ngModel)]="employee.salary" name="salary"><br>
        </div>
    </div>

    <div class="adjust">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
<br><br><br><br>